*/5 * * * * echo "Running wp-cron at $(date)..." && wget -q -O - http://nginx-proxied/wp-cron.php?doing_wp_cron >/dev/null && wget -q -O - --no-check-certificate https://nginx-standalone/wp-cron.php?doing_wp_cron >/dev/null 2>&1
